[submodule "utils"]
	path = utils
	url = https://github.com/sh4run/utils.git
[submodule "message_queue"]
	path = message_queue
	url = https://github.com/sh4run/message_queue.git
[submodule "linux-list"]
	path = linux-list
	url = https://github.com/sysprog21/linux-list.git
[submodule "cJSON"]
	path = cJSON
	url = https://github.com/DaveGamble/cJSON.git
